{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Sign Up </title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>

    <meta charset="utf-8">

</head>

<body>


    <div >

        <!-- header-->
        <div>
            <div >


                <div >

                    <a>
                        <b><h1 style="color: black;font-size: 1.5rem;">WHS Library Portal</h1></b>
                    </a>

                    <div >
                        
                        <a href="/signin" >Login</a>
                    </div>

                </div>
            </div>
        </div>

        <!-- Content-->

        <div>
            <div>
                <h1> Sign Up</h1>

                <div>
                    <style>

                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>
                
                <form action="/signup" method="POST">
                    {% csrf_token %}
                    <h2>If Teacher please write 0</h2>
                    <input type="text" name="year" placeholder="Year" style="border: 1px solid #d3d5d8 !important;">
                    <input type="text" name="username" placeholder="Username" style="border: 1px solid #d3d5d8 !important;">
                    <input type="text" name="name" placeholder="name" style="border: 1px solid #d3d5d8 !important;">
                    <input type="text" name="surename" placeholder="surename" style="border: 1px solid #d3d5d8 !important;">
                    <input type="email" name="email" placeholder="Email" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password"placeholder="Password" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password2" placeholder="Confirm Password" style="border: 1px solid #d3d5d8 !important;">
                    <div>
                        <div class="checkbox">
                            <input type="checkbox"  checked>
                            <label for="chekcbox1"><span></span> I Agree</label>
                        </div>
                        <a href="#"> Terms and Conditions</a>
                    </div>
                    <button type="submit">Sign Up</button>
                    <div >
                        <p > Do you have an account? <a href="/signin"> Login </a></p>
                    </div>
                </form>


            </div>
        </div>
        
        <!-- Footer -->


    </div>



</body>

<br>
<br>
<footer>

</footer>
</html>